.header h2 a {
	color: #424242;
}

.header h2, .footer_width h2 {
	width: 211px;
}

.header h2 span, .header h2 span a, footer h2 span, footer h2 span a {
	color: #0076E8;
}

.post_content p a {
	font-style: italic;
	color: #0076E8;
}

.header {
  background: -prefix-linear-gradient(bottom, rgba(176,208,239,1), rgba(209,232,255,1));
  background: linear-gradient(to bottom, rgba(176,208,239,1), rgba(209,232,255,1));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  border-bottom: 0;
}

.blog, footer {
	border-top: 1px solid #C0D5E9;
	background-color: #D1E8FF;
}

.blog_post, .post_title, .post_title h1 {
	margin-top: 0;
}

.post_title h1 {
	padding-top: 100px;
}

.post_content p, .post_content p a {
	text-align: center;
}

.social-links {
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding-top: 30px;
}

.social-links li{
	display: inline-block;
	margin-right: 20px;
	font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    color: #424242;
}

.social-links li a {
	font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    color: #424242;
	padding-bottom: 5px; 
    text-decoration: none;
    position: relative;
}

.social-links li a:hover {
	content: #424242;
}

.social-links li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #424242;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.social-links li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.social_icons {
	width: 20px;
	height: 20px;
	position: relative;
	top: 3px;
}

.extra_padding {
	padding-bottom: 150px;
}

footer {
	margin-top: 0px;
}

@media (max-width: 920px) {
	.post_title h1 {
		text-align: left;
	}

	.post_content p, .post_content p a {
		text-align: left;
	}

	.social-links {
		text-align: left;
	}

	.social-links li {
		float: left;
	}
}

@media (max-width: 560px) {
	.header h2, .footer_width h2 {
		width: 165px;
	}

	.social-links li{
		margin-right: 20px;
	    font-size: 18px;
	    line-height: 27px;
	}

	.social-links li a {
	    font-size: 18px;
	    line-height: 27px;
	    text-decoration: none;
	}

	.social_icons {
		width: 18px;
		height: 18px;
		position: relative;
		top: 3px;
	}
}