@charset "utf-8";
/* CSS Document */
body,p,a,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,textarea,img{padding:0; margin:0; border:0; list-style:none;}
body{color:#7F7F7F; font-size:16px; font-family:"Microsoft Jhenghei", "宋体", Arial;}
a{color:#7F7F7F; text-decoration:none;}
a:hover{color:#739F10; text-decoration:underline;}

.header_in, .banner_in, #content, .product_in, .footer_in, .list_nav_in, .news_nav_in, .news_content_in {
	width: 1230px;
	margin: 0 auto;
	overflow: hidden;
}

/* header */
#header {
	background: #8AAE3C;
	height: 100px;
}

.header_left {
	height: 100px;
	float: left;
	overflow: hidden;
}

.header_left h1 {
	float: left;
}

.header_left ul {
	margin-top: 60px;
	float: left;
}

.header_left li {
	float: left;
	margin-left: 40px;
}

.header_left li a {
	color: #fff;
}

.header_right {
	float: right;
	width: 250px;
	margin-top: 16px;
}

.header_right p {
	color: #fff;
	float: right;
}

.header_right span {
	margin-left: 20px;
}

.header_right p a {
	font-size: 14px;
	color: #fff;
}

.header_right input {
	height: 28px;
	float: left;
	margin-top: 16px;
}

.header_right .search_text {
	width: 215px;
	text-indent: 10px;
	background: url(../images/search_text.png);
}

.header_right .search_submit {
	width: 35px;
	background: url(../images/search_submit.png);
	cursor: pointer;
}

/* banner */
#banner {
	height: 500px;
	background: url(../images/banner.jpg) no-repeat center center;
}


.banner_in h2 {
	margin-top: 180px;
	height: 48px;
	font-size: 30px;
	color: #000;
	font-weight: normal;
}

.banner_in p {
	font-size: 18px;
	line-height: 30px;
	color: #000;
}

.banner_in .details {
	width: 110px;
	height: 30px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
	background: #8AAE3C;
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
}

/* content */
#content {
	height: 460px;
}

#content h2 {
	font-size: 36px;
	font-weight: normal;
	margin: 54px 0 30px 0;
}

#content p {
	font-size: 18px;
	line-height: 30px;
}

#content dl {
	width: 394px;
	height: 170px;
	background: #F0F0F0;
	margin: 70px 24px 0 0;
	float: left;
}

#content dt {
	margin: 26px 0 0 40px;
}

#content dd {
	margin: 20px 0 0 40px;
	width: 300px;
	font-size: 14px;
}

#content dd a {
	background: url(../images/sprites.png) no-repeat;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 20px;
}

#content .content_dl_right {
	margin-right: 0;
}

/* product */

#product {
	height: 520px;
	background: #F0F0F0;
}

#product h2 {
	font-size: 36px;
	font-weight: normal;
	height: 100px;
	line-height: 100px;
}

.product_left {
	float: left;
}

.product_right {
	float: right;
}

.product_details_left {
	width: 394px;
	height: 380px;
	background: #fff;
}

.product_content_center {
	text-align: center;
}

.product_content_center h3 {
	font-size: 20px;
	line-height: 70px;
	font-weight: normal;
	height: 70px;
	color: #000;
}

.product_content_center img {
	width: 150px;
}

.product_content_center p {
	font-size: 14px;
	line-height: 20px;
	width: 345px;
	margin: 0 auto;
}

.product_content_center a.learn_more {
	display: block;
	font-size: 14px;
	color: #8AAE3C;
	text-decoration: underline;
	margin-top: 10px;
	height: 50px;
	line-height: 50px;
}

.product_content_center .tab {
	display: table;
	margin: 0 auto;
}

.tab a {
	float: left;
	font-size: 14px;
	width: 90px;
	height: 30px;
	line-height: 30px;
	background: #F0F0F0;
	margin-right: 4px;
	text-decoration: none;
	color: #000;
}

.tab a.product_last_li {
	background: #8AAE3C;
	color: #fff;
	margin-right: 0;
}

.tab a:hover {
	background: #8AAE3C;
	color: #fff;
}


.product_details_right {
	width: 812px;
	height: 380px;
	background: #fff;
	position: relative;
}

.product_details_right .bg_gray {
	background: #CCCCCC;
	height: 283px;
}

.product_right h2 {
	text-align: center;
}

#product .bg_gray h2 {
	font-size: 50px;
	height: 60px;
	line-height: 60px;
	color: #7f7f7f;
}

.product_details_right .bg_gray h3 {
	font-size: 30px;
	line-height: 50px;
	height: 50px;
	font-weight: normal;
	text-align: center;
}

.product_img {
	float: left;
	position: absolute;
	top: 100px;
	width: 268px;
	height: 272px;
	background: url(../images/pro1.png) center top no-repeat;
	padding-top: 220px;
	text-align: center;
}

.img_01:hover, .img_02:hover {
	background: url(../images/pro1_hover.png) center top no-repeat;
}

.img_02 {
	left: 268px;
}

.img_03 {
	left: 536px;
	background: url(../images/pro2.png) center top no-repeat;
}


/* footer */
#footer {
	background: #dcdcdc;
	height: 400px;
}

.footer_lists {
	overflow: hidden;
}

.social_border {
	border-bottom: 1px solid #fff;
	height: 59px;
}

.footer_share_left {
	width: 340px;
	height: 59px;
	float: left;
	line-height: 59px;
}

.footer_share_left span {
	float: left;
	color: #000;
}

.footer_share_left a {
	width: 28px;
	height: 28px;
	float: left;
	margin: 15px 0 0 15px;
}

.social_01 {
	background: url(../images/sprites.png) 0 -20px;
}

.social_02 {
	background: url(../images/sprites.png) 0 -48px;
}

.social_03 {
	background: url(../images/sprites.png) 0 -76px;
}

.social_04 {
	background: url(../images/sprites.png) 0 -104px;
}

.footer_share_right {
	width: 200px;
	height: 59px;
	float: right;
	line-height: 59px;
	font-size: 12px;
}

.footer_in dl {
	width: 246px;
	float: left;
}

.footer_in dt {
	font-size: 18px;
	color: #000;
	margin: 40px 0 20px 0;
}

.footer_in dd {
	line-height: 30px;
	font-size: 14px;
}


.copyright_texts {
	text-align: center;
	font-size: 12px;
	margin-top: 16px;
}

/* list */

/* list_nav */
#list_nav {
	height: 130px;
	line-height: 130px;
}

.list_nav_in a {
	font-size: 14px;
}

.list_nav_in .list_01 {
	background: url(../images/arr.png) no-repeat center left;
	padding-left: 30px;
}

/* list_banner */
#list_banner {
	background: url(../images/list_banner.jpg) no-repeat center center;
	height: 260px;
}


/* news_nav */
#news_nav {
	height: 129px;
	border-bottom: 1px solid #ccc;
}

.news_nav_in li{
	float: left;
}

.news_nav_in a {
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 10px 30px;
	margin-right: 10px;
	margin-top: 40px;
}

.news_nav_in a:hover, .news_nav_in .list_current {
	border: 1px solid #739F10;
	background: #739F10;
	color: #fff;
}

/* news_content */
#news_content {
	margin-bottom: 60px;
}

.news_list {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.news_img, .news_text, .news_date {
	margin: 60px 0;
	float: left;
}

.news_text {
	width: 620px;
	height: 100px;
	padding: 0 80px 80px 80px;
}

.news_text h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.news_text h2 a {	
	color: #739F10;
} 

.news_text p {
	height: 150px;
	font-size: 14px;
}

.news_text a.read_more {
	font-size: 14px;
	padding: 10px 30px;
	background: #739F10;
	color: #fff;
}

.news_date {
	border: 1px solid #ccc;
	width: 100px;
	height: 100px;
}

.news_date p {
	margin-top: 28px;
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.news_date p span {
	font-size: 16px;
	color: #7f7f7f;
}

/* detail */
#news_content_text {
	width: 980px;
	margin: 0 auto;
	margin-bottom: 60px;
}

#news_content_text h2 {
	font-size: 36px;
	margin-top: 30px;
}

#news_content_text h5 {
	font-weight: normal;
	margin: 10px 0;
}

#news_content_text p {
	font-size: 18px;
	line-height: 30px;
	text-indent: 2em;
	margin: 20px 0;
}

#news_content_text img {
	margin: 0 auto;
	display: block;
}

















