@charset "utf-8";
/* CSS Document */
body,p,a,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,textarea,img{padding:0; margin:0; border:0; list-style:none;}
body{color:#717171; font-size:14px; font-family:"Microsoft YaHei","宋体",Arial; font-weight: nor
}
a{color:#555757; text-decoration:none;}
a:hover{color:#0CBBEF;}


.canvas_in {
    width: 1240px;
    margin: 0 auto;
}

/* header_banner */
.header_banner{
    height:120px;
    background: #5EBAFB;
}

.header_banner a {
    display: block;
    position: relative;
}

.header_banner span {
    position: absolute;
    right: 0;
    top: 10px;
    width:20px;
    height: 20px;
    background: url("../images/close.png");
}

/* header_top_nav */
.header_top_nav {
    background: #FAFAFC;
    height:40px;
    font-size: 12px;
}

.header_top_nav .nav_left {
    float: left;
}

.header_top_nav .nav_left li {
    float: left;
    line-height:40px;
    margin-right: 40px;
}

.header_top_nav .nav_right {
    float: right;
}

.header_top_nav .nav_right li {
    float: left;
    line-height:40px;
    margin-left: 40px;
}

/* header_top */
.header_nav {
    height:80px;
}

.header_nav h1 {
    width: 244px;
    height:; 80px;
    float: left;
}

.header_nav h1 img {
    margin-top: 30px;
}

.header_nav ul {
    float: left;
}

.header_nav ul li {
    float: left;
    line-height:80px;
    font-size: 16px;
    color: #000;
    margin-right: 40px;
}

/* main_content */
.main_content {
    height: 480px;
    position: relative;
}

.main_content .box {
  width: 100%;
  height: 480px;
  position: relative;
  overflow: hidden;
}

.main_content .slides {
    width: 500%;
    height: 480px;
    position: absolute;
}

.main_content .slides li {
    float: left;
    width: 20%;
    height: 480px;
}

.main_content .slides li a{
    display: block;
    width: 100%;
    height: 480px;
    background: url(../images/1.jpg) no-repeat center center;
}

.main_content .canvas_in {
  position: relative;
}

.main_content .canvas_in .category {
  float: left;
  width: 244px;
  padding: 10px 0;
  height: 460px;
  background: #F4F7F8;
}

.main_content .canvas_in .category li {
  height: 57.5px;
  line-height: 57.5px;
  margin-left: 40px;
}

.main_content .canvas_in .content_right {
  float: left;
  width: 996px;
  height: 480px;
  position: relative;
}

.main_content .canvas_in .content_right span {
  cursor: pointer;
  margin-top: 200px;
  width: 30px;
  height: 50px;
  display: none;
}

.main_content .canvas_in .content_right .left {
  float: left;
  background: #000 url(../images/left-arrow.png) no-repeat center center;
}

.main_content .canvas_in .content_right .right {
  float: right;
  background: #000 url(../images/right-arrow.png) no-repeat center center;
}

.main_content .canvas_in .content_right ol {
  position: absolute;
  bottom: 30px;
  left: 460px;
}

.main_content .canvas_in .content_right ol li {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  border-radius: 16px;
  background: black;
  cursor: pointer;
}

.main_content .canvas_in .content_right ol .current {
  background: skyblue;
}

/* header_banners */

.header_banners ul {
  overflow: hidden;
}

.header_banners li {
  float: left;
  width: 244px;
  height: 140px;
  background: #F4F7F8;
  margin-right: 5px;
  margin-top: 6px;
}

.header_banners .last {
  margin-right: 0;
}

.header_banners li div {
  float: left;
  width: 122px;
  height: 70px;
  text-align: center;
}

.header_banners li div img {
  width: 24px;
  margin-top: 12px;
  margin-bottom: 6px;
}

/* hot */
.hot {
  overflow: hidden;
  margin-top: 30px;
}

.hot .canvas_in {
  overflow: hidden;
}

.hot h2 {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

.hot .subtitles {
  float: left;
  line-height: 60px;
  height: 60px;
}

.hot .subtitles a {
  float: left;
  margin-left: 30px;
}

.hot .arrs {
  float: right;
  height: 50px;
}

.hot .more {
  float: right;
  height: 60px;
  line-height: 60px;
}

.hot .arrs span {
  margin-top: 16px;
  cursor: pointer;
}

.hot .arrs .arr_left {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  background: url(../images/arrow-l.png);
}

.hot .arrs .arr_right {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  margin-left: 5px;
  background: url(../images/arrow-r.png);
}

.hot .featured_products {
  clear: both;
  height: 340px;
}

.hot .featured_products ul {
  width: 1238px;
  height: 338px;
  border: 1px solid #ccc;
}

.hot .main_products ul {
  height: 677px;
}

.hot .featured_products ul li {
  width: 20%;
  height: 308px;
  float: left;
  text-align: center;
  line-height: 24px;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
}

.hot .featured_products ul .bottom_line {
  border-bottom: 1px solid #ccc;
}

.hot .featured_products ul .first {
  padding-top: 0;
  height: 338px;
}


.hot .featured_products ul li h3 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  color: #000;
}

.hot .featured_products ul li p {
  font-size: 12px;
  color: #aaa;
}

.hot .featured_products ul li h4 {
  font-size: 16px;
  color: #e02b41;
  font-weight: normal;
}

.hot .featured_products ul li a {
  display: block;
  position: relative;
}

.hot .featured_products ul li a span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #00C3F5;
  position: absolute;
  top: 0;
  right: 20px;
  color: #fff;
  line-height: 40px;
}

/* banner */

.banner {
  clear: both;
  margin-top: 30px;
}

/* footer */

.footer {
  clear:both;
  margin-top: 80px;
  height: 430px;
  background: #FAFAFC;
}

.footer ul {
  height: 136px;
  border-bottom: 1px solid #ccc;
}

.footer ul li {
  float: left;
  width: 16.666%;
  text-align: center;
  margin-top: 40px;
}

.footer ul li p {
  margin-top: 16px;
}

.footer_box {
  height: 178px;
  border-bottom: 1px solid #ccc;
}

.footer dl {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 40px;
}

.footer dt {
  color: #333;
  margin-bottom: 10px;
}

.footer dd {
  font-size: 12px;
  line-height: 22px;
}

.footer dd h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
  color:#1FA7EA;
  font-weight: normal;
}

.footer dd .contact {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 34px;
  background: url(../images/contact.png);
}

.footer .copyright p {
  text-align: center;
  font-size: 12px;
  margin-top: 40px;
}

.footer p a {
  margin-left: 10px;
}
