<!-- Footer section -->
{% unless page.permalink == '/' and site.data.curtana.clean_homepage %}
  <footer class="footer">


    <a href="http://www.beian.miit.gov.cn" target="_blank" style="display: block; text-align: center; margin-top: 20px; text-transform: uppercase;">粤ICP备19153485号-1</a>
    <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" style="display: flex; align-items: center; font-size: 18px; justify-content: center;">
      <span>本网站由</span>
      <img style="width: 100px; padding: 0 10px;" src="../../../../assets/img//又拍云_logo5.png" />
      <span>提供 CDN 加速/云存储服务</span>
    </a>
  </footer>
{% endunless %}

<!-- Theme scripts -->
<script src="{{ '/js/app.js?assets-inline' | prepend: amsf_theme_assets }}"></script>

<!-- User scripts -->
<script src="{{ '/js/user.js?assets-inline' | prepend: amsf_user_assets }}"></script>

<!-- Lightense Images -->
{% if page.plugin == 'lightense' %}
  <script src="{{ '/js/lightense.min.js?assets-inline' | prepend: amsf_theme_assets }}"></script>
  <script>
    window.addEventListener('load', function () {
      Lightense('p > img:not(.no-lightense),.lightense');
    }, false);
  </script>
{% endif %}

<!-- Service Worker  -->
{{ amsf_service_worker }}

<!-- Google Analytics -->
{{ amsf_google_analytics }}

<!-- Foot hooks -->
{% if page.foot %}
  {{ page.foot }}
{% endif %}

<!-- Finale -->
</html>
