/* @media screen and (min-width: 1200px) { */

.container {
  width: 100%;
  display: flex;
}

.content {
  width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.post {
  padding: 30px;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.post:first-child {
  padding-top: 40px;
}

.post h2 {
  width: 80%;
  font-weight: 700;
}

.post .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .top .tag {
  font-weight: 600;
  font-size: 16px;
  color: #8f8f8f;
}

.post:hover .top .tag {
  display: block;
}

.date {
  font-weight: 600;
  font-size: 16px;
  color: #8f8f8f;
  margin-top: 5px;
}

/* } */