@charset "utf-8";
/* CSS Document */
body,p,a,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,input,textarea,img{padding:0; margin:0; border:0; list-style:none;}
body{color:#717171; font-size:12px; font-family:"Microsoft Yahei", "宋体", Arial; font-weight: 300;background: #FFFFFF;}
a{color:#717171; text-decoration:none;}
a:hover{color:#28ABE3; text-decoration:underline;}

.header_in, #service, .case_in, #cooperation, .footer_in, #list_content {
	width: 1140px;
	margin: 0 auto;
}

/* header */
#header {
	height: 100px;
	box-shadow: 0 6px 8px rgba(0,0,0,0.1);
}

.header_in h1 {
	float: left;
	padding-top: 12px;
}

.header_in ul {
	float: right;
}

.header_in li {
	float: left;
}

.header_in li a {
	display: inline-block;
	font-size: 16px;
	line-height: 100px;
	padding: 0 40px;
	border-left: 1px solid #eee;
	text-decoration: none;
}

/* banner */
#banner {
	background: url(../images/banner.jpg) no-repeat center center;
	height: 570px;
}

/* service */
#service {
	height: 586px;
	background: #fff;
}

#service h2 {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	margin-top: 60px;
}

#service p {
	font-size: 18px;
	line-height: 34px;
	font-weight: 300;
	text-align: center;
	margin-top: 25px;
}

#service dl {
	float: left;
	width: 255px;
	text-align: center;
	margin-top: 60px;
	margin-right: 40px;
}

#service .dl_last {
	margin-right: 0;
}

#service dd h3 {
	font-size: 24px;
	margin-top: 40px;
	font-weight: normal;
}

#service dd p {
	font-size: 14px;
	line-height: 20px;
	text-indent: 2em;
}


/* case */
#case {
	height: 740px;
	background: #F8F8F8;
	border-bottom: 1px solid #eee;
}

.case_in h2 {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	padding-top: 60px;
}

.case_in p {
	font-size: 18px;
	line-height: 34px;
	font-weight: 300;
	text-align: center;
	margin-top: 25px;
}

.case_in dl {
	float: left;
	width: 255px;
	height: 350px;
	background: #2980B9;
	margin: 60px 40px 60px 0;
}

.case_in dt img {
	width: 255px;
}

.case_in dd {
	color: #fff;
	padding: 30px 20px 0;
	font-size: 16px;
	line-height: 24px;
}

.case_in .dl_02 {
	background: #27AE60;
}

.case_in .dl_03 {
	background: #D35400;
}

.case_in .dl_04 {
	margin-right: 0;
	background: #8E44AD;
}

.case_in .more {
	width: 180px;
	height: 60px;
	clear: both;
	margin: 0 auto;
	text-align: center;
	line-height: 60px;
}

.case_in a {
	display: block;
	font-size: 18px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 2px;
}

.case_in a:hover {
	border: 1px solid #28A7E9;
	background: #28A7E9;
	color: #fff;
	text-decoration: none;
}


/* cooperation */
#cooperation {
	height: 400px;
	background: #fff;
}

#cooperation h2 {
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	padding-top: 60px;
}

#cooperation p {
	font-size: 18px;
	line-height: 34px;
	font-weight: 300;
	text-align: center;
	margin-top: 25px;
}

#cooperation a{
	float: left;
	width: 150px;
	height: 57px;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-top: 60px;
	margin-right: 45px;
}

#cooperation a:last-child {
	margin-right: 0;
}

#cooperation .co_01 {
	background: url(../images/co_01.jpg) center center;
}

#cooperation .co_02 {
	background: url(../images/co_02.jpg) center center;
}

#cooperation .co_03 {
	background: url(../images/co_03.png) center center;
}

#cooperation .co_04 {
	background: url(../images/co_04.jpg) center center;
}

#cooperation .co_05 {
	background: url(../images/co_05.jpg) center center;
}

#cooperation .co_06 {
	background: url(../images/co_06.jpg) center center;
}

/* footer */
#footer {
	height: 200px;
	background: #333;
}

.footer_in h2, .footer_in .footer_list{
	float: left;
	margin-top: 55px;
}

.footer_in h2 {
	margin-left: 60px;
}

.footer_in .barcode {
	float: right;
	margin-top: 20px;
	margin-right: 60px;
}

.footer_in .footer_list {
	margin-left: 50px;
}

.footer_in .footer_list p {
	font-size: 16px;
	line-height: 40px;
}

.footer_in .footer_list p a {
	margin: 0 10px;
	color: #fff;
}

.footer_in .footer_list p a:first-child {
	margin-left: 0;
}

/* list_content */
#list_content {
	overflow: hidden;
}

.list_nav {
	float: left;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

.news_title {
	width: 195px;
	height: 175px;
	font-size: 22px;
	line-height: 175px;
	text-align: center;
	color: #fff;
	background: #2CA8DE;
}

.list_nav li {
	font-size: 16px;
	text-align: center;
	line-height: 63px;
	border-bottom: 1px solid #bbb;
	height: 63px;
	display: block;
}

.list_nav a {
	padding-right: 25px;
}

.list_nav li a:hover {
	text-decoration: none;
}

.list_nav .li_first {
	background: url(../images/arr.png) no-repeat right center;
}

.list_article {
	float: right;
	width: 943px;
}

.list_article_in {
	margin-left: 60px;
	margin-top: 45px;
	overflow: hidden;
}

.list_article_in dl {
	border-bottom: 1px solid #ccc;
	height: 150px;
	padding: 20px 0;
}

.list_article_in dt img{
	float: left;
	width: 200px;
	height: 150px;
}

.list_article_in dd {
	float: left;
	margin-left: 30px;
}

.list_article_in dd h2 {
	font-size: 20px;
}

.list_article_in dd p {
	font-size: 14px;
	margin-top: 20px;
	height: 90px;
}

.list_article_in dd h2 a {
	color: #717171;
}

.list_article_in dd a {
	color: #28ABE3;
}


/* detail */

.detail_article {
	float: right;
	width: 943px;
	margin-bottom: 60px;
}

.detail_article_in {
	margin-left: 60px;
	margin-top: 45px;
	overflow: hidden;
}

.detail_article_in h2 {
	font-size: 20px;
}

.detail_article_in li {
	float: left;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.detail_article_in p {
	clear: both;
	width: 800px;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
	text-indent: 2em;
}

.page_nav {
	width: 800px;
}

.page_nav a {
	float: left;
	color: #28ABE3;
}

.page_nav .next {
	float: right;
}











